SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=your_role
SNOWFLAKE_WAREHOUSE=your_warehouse
SNOWFLAKE_DATABASE=your_database
SNOWFLAKE_SCHEMA=your_schema

# Optional configuration for Business Glossary
BUSINESS_GLOSSARY_DATABASE=your_database
BUSINESS_GLOSSARY_SCHEMA=your_schema
BUSINESS_GLOSSARY_TABLE=your_table

# Authentication Method: "PASSWORD" or "KEY_PAIR" (Future use)
SNOWFLAKE_AUTH_METHOD=PASSWORD
