SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=your_role
SNOWFLAKE_WAREHOUSE=your_warehouse
SNOWFLAKE_DATABASE=your_database
SNOWFLAKE_SCHEMA=your_schema

# LLM Configuration (Set LLM_PROVIDER to "OLLAMA" or "OPENAI")
LLM_PROVIDER=OLLAMA

# Options if LLM_PROVIDER=OLLAMA
OLLAMA_MODEL=llama3
OLLAMA_BASE_URL=http://localhost:11434

# Options if LLM_PROVIDER=OPENAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini

# Optional configuration for Business Glossary
BUSINESS_GLOSSARY_DATABASE=your_database
BUSINESS_GLOSSARY_SCHEMA=your_schema
BUSINESS_GLOSSARY_TABLE=your_table

# Authentication Method: "PASSWORD" or "KEY_PAIR"
SNOWFLAKE_AUTH_METHOD=PASSWORD

# Only required if SNOWFLAKE_AUTH_METHOD=KEY_PAIR
SNOWFLAKE_PRIVATE_KEY_PATH=rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=your_passphrase_here
