fastapi
uvicorn
streamlit
langchain
langchain-core
langchain-community
langchain-ollama
langchain-openai
langgraph
snowflake-snowpark-python
snowflake-connector-python
pydantic
python-dotenv
cryptography
